.cards-cc {
    padding: 20px;
    text-align: center;
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

.cards-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.cards-container a {
  text-decoration: none;
  flex: 0 0 calc(25% - 30px);
}

@media (max-width: 1200px) {
  .cards-container a {
    flex: 0 0 calc(33.333% - 27px);
  }
}

@media (max-width: 900px) {
  .cards-container a {
    flex: 0 0 calc(50% - 20px);
  }
}

@media (max-width: 600px) {
  .cards-container a {
    flex: 0 0 100%;
  }
    .cards-cc {
    padding: 20px 70px; /* Less padding on mobile */
  }
  
  .cards-container {
    gap: 20px; /* Also reduce gap on mobile */
  }
}

