.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.section {
    margin-bottom: 40px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.li-2 {
    margin-left: 30px;
}

.subsection {
    margin-bottom: 30px;
}

.subsection-content {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.subsection-content-b {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.subsection-content-c {
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}


.custom-list {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 2rem;
}

.custom-list li {
    margin-bottom: 8px;
    font-size: 1.2rem;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
}

.image-container {
    flex: 0 0 auto;
    margin-right: 20px;
}

.image {
    max-width: 500px;
    height: auto;
    border-radius: 4%;
    margin-top: 10px;
}

.text-container {
    flex: 1;
}

@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
    }

    .image-container {
        margin-right: 0;
        margin-bottom: 20px;
    }
    
}

@media (max-width: 425px) {
    .image {
        max-width: 300px;
        height: auto;
        border-radius: 4%;
        margin-top: 10px;
    }
    
}